# ================================
# SYSTEM
# ================================
TZ=America/Los_Angeles
PUID=1000
PGID=1000


# ================================
# PORTS
# ================================
FILEBROWSER_PORT=****
JELLYFIN_PORT=****
NAVIDROME_PORT=****

QBIT_WEBUI_PORT=****
QBIT_TORRENT_PORT=****

KUMA_PORT=****


# ================================
# PATHS
# ================================
CONFIG_ROOT=/opt/media-stack/config
STORAGE_ROOT=/mnt/storage

DOWNLOADS_PATH=/mnt/storage/downloads

MOVIES_PATH=/mnt/storage/media/movies
TV_PATH=/mnt/storage/media/tv
MUSIC_PATH=/mnt/storage/media/music
SERIES_PATH=/mnt/storage/media/series


# ================================
# NAVIDROME
# ================================
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info
ND_SESSIONTIMEOUT=24h
